playwright/node_modules
playwright/playwright-report
playwright/test-results
playwright/allure-results
playwright/allure-report
playwright/html-report
playwright/.vscode
playwright/.env.dev
playwright/.env.stage
playwright/.env.prod
playwright/test_users.txt
playwright/test_logs
playwright/html_report
playwright/html_reports
playwright/recaptcha_challenge.png
playwright/captcha-image-table.html

wdio/node_modules
wdio/allure-report
wdio/allure-results
wdio/_results_
wdio/package-lock.json
wdio/chrome-downloads
wdio/html-report
wdio/.env.*